@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../fonts/proximanova-reg-webfont.woff2') format('woff2'),
		 url('../fonts/proximanova-reg-webfont.woff') format('woff'),
		 url('../fonts/proximanova-reg-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
		 url('../fonts/proximanova-bold-webfont.woff') format('woff'),
		 url('../fonts/proximanova-bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('../fonts/proximanova-semibold-webfont.woff2') format('woff2'),
		 url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
		 url('../fonts/proximanova-semibold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Light';
	src: url('../fonts/proximanova-light-webfont.woff2') format('woff2'),
		 url('../fonts/proximanova-light-webfont.woff') format('woff'),
		 url('../fonts/proximanova-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Black';
	src: url('../fonts/proximanova-black-webfont.woff2') format('woff2'),
		 url('../fonts/proximanova-black-webfont.woff') format('woff'),
		 url('../fonts/proximanova-black-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	color: #2b3246;
	font: 14px/18px 'ProximaNova-Regular', sans-serif;
	position: relative;
	min-width: 980px;
	background: #fff;
	padding: 12px;
}
a {
	color: #ff0142;
	text-decoration: none;
}
a:hover {
	cursor: pointer;
	text-decoration: none !important
}
:focus,
:active {
	outline:none
}
::-moz-selection {
	color: #2b3246;
	background: #ffee2f;
}
*::selection {
	color: #2b3246;
	background: #ffee2f;
}
img {
	border:0;
	max-width: 100%;
	position: relative;
	vertical-align: top;
}
li {
	position: relative;
	list-style:none
}
header, main, nav, section, article, aside, footer {
	display:block;
	position: relative;
}
.clr:after {
	clear: both;
	content: '';
	display: table;
}

.center {
	position: relative;
	max-width:940px;
	margin: auto;
}

.input {
	vertical-align: middle;
	padding: 0 20px;
	display: block;

	width: 100%;
	height: 46px;
	font: 14px/18px 'ProximaNova-Regular', sans-serif;
	position: relative;
	-webkit-appearance: none;
	color: #2a3246;
	border: solid 1px rgba(150,160,170,.8);
	border-radius: 4px;
	background: rgba(255,255,255,.2);
}
.input--error {
	border-color: #ff0142;
}
.input:focus {
	background: rgba(150,160,170,.1);
	border-color: rgba(150,160,170,.8);
}
textarea.input {
	resize:none;
	overflow: hidden;
	display: block;
	width: 100%;
	height: 194px;
	line-height: 18px;
	padding: 14px 20px;
}
textarea.input--h178 {
	height: 178px;
}

.hidden {
	overflow: hidden;
}

/* btn
-----------------------------------------------------------------------------*/
.btn {
	font:15px/46px 'ProximaNova-Semibold', 'ProximaNova-Bold';
	display:inline-block;
	cursor: pointer;
	border: 0;
	text-align: center;
	padding:0 20px;
	height: 46px;
	position: relative;
	color: #fff;
	white-space: nowrap;
	border-radius: 4px;
	transition:.5s;
}
.btn--block {
	display: block;
}
.btn--radius {
	border-radius: 100px;
	font-size: 15px;
	font-family: 'ProximaNova-Regular';
}
.btn--white {
	color: #2a3246;
	background: #fff;
}
.btn--white:hover {
	background: #f8f8fb;
}
.btn--red {
	background: #ff0142;
}
.btn--red:hover {
	background: #cd0034;
}
.btn--yellow {
	color: #2a3246;
	background: #ffee2f;
}
.btn--yellow:hover {
	background: #efe219;
}
.btn--gray {
	background: #96a0aa;
}
.btn--gray:hover {
	background: #788088;
}
.btn--radio {
	font-size: 14px;
	color: rgba(42,50,70,.6);
	padding: 0 20px 0 34px;
	font-family: 'ProximaNova-Regular';
	border: solid 1px #d9dce3;
	text-align: left;
}
.btn--radio:before {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 14px;
	left: 10px;
	content: '';
	border-radius: 50%;
	background: #eaecee;
}
.btn--radio:hover {
	color: #2a3246;
}
.btn--radio:not(.btn--checked):hover:before {
	background: #96a0aa;
}
.btn--checked {
	opacity: 1;
	background: #ffee2f;
	color: #2a3246;
	border-color: #ffee2f;
}
.btn--checked:before {
	width: 6px;
	height: 6px;
	opacity: 1;
	border: 5px solid #2a3246;
	background: #ffee2f;
}

/* select
-----------------------------------------------------------------------------*/
select {
	opacity: 0;
	display: inline-block;
	width: 150px;
	height: 41px;
}
.select select {
	display: none;
}
.select {
	width: 150px;
	display: inline-block;
	position: relative;
}
.select__value{
	cursor: pointer;
	position: relative;
	display: block;

	line-height: 19px;
	padding: 10px 32px 10px 16px;
	border: solid 1px rgba(150,160,170,.8);
	border-radius: 4px;
}
.select__text{
	display:block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.select__value:before{
	position: absolute;
	right:16px;
	content: '';
	top: 18px;
	border-width: 4px 4px 0;
	border-style: solid;
	border-color: rgba(41, 49, 70, 0.8) transparent
}
.select__box{
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: 2px;

	padding: 8px 0 8px 10px;
	display: none;
	border-radius: 4px;
	background: inherit;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 4px 8px rgba(0,0,0,.2);
	width: 280px;
}
.select__scroll {
	max-height: 92px;
	width: 100%;
	overflow: inherit !important;
}
.select__scroll ul{
	padding: 4px 9px 3px 0;
}
.select__scroll.jspScrollable:before{
	position: absolute;
	top: 0;
	right: 14px;
	width: 1px;
	bottom: 0;
	content: '';
	background: rgba(171,173,176,.3);
}
.select__li{
	line-height: 17px;
	padding: 4px 7px;
	cursor: pointer;
}
.select__li:hover{
	border-radius: 4px;
	background: rgba(150,160,170,.2);
}
.select--default .select__text{
	opacity: .5
}
.select--focus{
	z-index: 5
}
.select--focus .select__value:before{
	-webkit-transform:rotate(180deg);
	transform: rotate(180deg);
}

/* ico
-----------------------------------------------------------------------------*/
.ico {
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	position: absolute;
	vertical-align: top;
	display: inline-block;
	background: url(../images/sprite.svg);
}
.ico--lock {
	background-position: -349px -237px
}
.ico--lock-black {
	background-position: -349px -196px
}
.ico--help {
	background-position: -284px -237px
}
.ico--help-black {
	background-position: -284px -196px
}
.ico--geo {
	background-position: -218px -237px
}
.ico--geo-gray {
	background-position: -509px -238px
}
.ico--geo-black {
	background-position: -218px -196px
}
.ico--plus {
	background-position: -97px -283px
}
.ico--ahtung {
	background-position: -40px -282px
}
.ico--close-black {
	background-position: -159px -282px
}
.ico--close-white {
	background-position: -159px -313px
}
.ico--left-gray {
	background-position: -463px -1400px
}
.ico--right-gray {
	background-position: -463px -1370px
}
.ico--arrow-right-red {
	width: 30px;
	height: 30px;
	background-position: -501px -372px
}
a:hover .ico--arrow-right-red {
	background-position: -501px -404px
}
.ico--arrow-right-gray {
	background-position: -454px -566px;
}
.ico--arrow-right-blue {
	background-position: -454px -589px;
}
.ico--arrow-left-gray {
	width: 30px;
	height: 30px;
	background-position: -451px -372px;
}
.ico--arrow-up {
	width: 26px;
	height: 26px;
	background-position: -505px -576px;
}
.ico--load {
	width: 24px;
	background-position: -287px -308px;
}
a:hover .ico--load {
	background-position: -287px -268px
}
.ico--rus {
	right: 13px;
	top: 11px;
	left: auto;
	background-position: -164px -195px;
}
.ico--pdf {
	width: 40px;
	height: 40px;
	background-position: -322px -598px;
}
.ico--plusik {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	left: -30px;
	top: -2px;
	border: 1px solid rgba(41,49,70,.8);
	background-position: -640px -199px
}
.ico--print {
	background-position: -453px -456px;
}
.ico--mail-white {
	background-position: -503px -456px;
}
.ico--tel {
	background-position: -562px -198px;
}
.ico--mail {
	background-position: -511px -197px;
}
.ico--envelope {
	background-position: -391px -312px
}
.ico--time {
	background-position: -460px -197px;
}
.ico--time-white {
	background-position: -411px -236px;
}
.ico--like {
	background-position: -218px -282px;
}
.ico--map-mark {
	background-position: -412px -196px;
}
.ico--red-play {
	width: 48px;
	height: 48px;
	right: 0;
	bottom: 0;
	margin: auto;
	border-radius: 50%;
	background: rgba(255,1,66,.9);
}
.ico--red-play:before {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	margin: auto;
	border-style: solid;
	border-width: 5px 6px;
	margin: -5px 0 0 -2px;
	border-color: transparent transparent transparent #fff;
}
.ico--prev,
.ico--next {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	background-position: -41px -597px;
}
.ico--next {
	background-position: -101px -597px;
}
.ico--prev:hover {
	background-position: -41px -641px
}
.ico--next:hover {
	background-position: -101px -641px
}

.ico--answer {
	width: 30px;
	height: 30px;
	background-position: -625px -370px
}
.ico--close {
	width: 32px;
	height: 32px;
	left: auto;
	right: 0;
	background-position: -379px -1367px
}
.ico--triangle {
	width: 46px;
	height: 40px;
	outline:1px solid red;
	background-position: -379px -1367px
}

/* table
-----------------------------------------------------------------------------*/
table {
	border:0;
	border-collapse: collapse;
}
td {
	vertical-align: top;
}
.table {
	display: table;
}
.table__tr {
	display: table-row;
}
.table__td {
	display: table-cell;
	vertical-align: top;
}
.table__td--bottom {
	vertical-align: bottom;
}
.table__td--middle {
	vertical-align: middle;
}
.table--fixed {
	width: 100%;
	table-layout: fixed;
}

.nowrap {
	white-space: nowrap;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.align-middle {
	vertical-align: middle;
}

.checkbox {
	cursor: pointer;
	line-height: 32px;
	padding-left: 32px;
	position: relative;
	display: inline-block;
}
.checkbox input {
	opacity: 0;
	z-index: -1;
	position: absolute;
}
.checkbox i {
	width: 22px;
	height: 22px;
	position: absolute;
	top: 4px;
	left: 0;
	background: url(../images/sprite.svg) -38px -227px;
}
.checkbox input:checked ~ i {
	background-position:-38px -197px;
}
.checkbox--radio {
	line-height: 20px;
	padding-left: 25px;
	margin-bottom: 10px;
}
.checkbox--radio i {
	width: 16px;
	height: 16px;
	opacity: .8;
	top: 1px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.2);
	border: solid 1px #96a0aa;
}
.checkbox--radio:hover i,
.checkbox--radio input:checked ~ i {
	background: #fff;
	border-color: #2a3246;
}
.checkbox--radio input:checked ~ i:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 6px;
	height: 6px;
	content: '';
	border-radius: 50%;
	background: #2a3246;
}
.checkbox--error {
	color: #ff0142;
}

h1, h2, h3, h4, b {
	font-weight: 400
}
h1, .h1 {
	color: #fff;
	position: relative;
	text-align: center;
	font: 36px/46px 'ProximaNova-Light';
}
hr {
	border: 0;
	height: 1px;
	background: #e5e7e9;
}
.hide {
	display:none
}
.notsel {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.opacity-0 {
	opacity: 0;
}
.opacity-8 {
	opacity: .8;
}
.opacity-1 {
	opacity: 1;
}
@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.clear-both {
	clear: both;
}
.w100p {
	width: 100%;
}
.w50p {
	width: 50%;
}
.w50 {
	width: 50px;
}
.w100 {
	width: 100px;
}
.w110 {
	width: 110px;
}
.w140 {
	width: 140px;
}
.w190 {
	width: 190px;
}
.w200 {
	width: 200px;
}
.w220 {
	width: 220px;
}
.w350 {
	width: 350px;
}
.w300 {
	width: 300px;
}
.w400 {
	width: 400px;
}
.w450 {
	width: 450px;
}
.w460 {
	width: 460px;
}
.w550 {
	width: 550px;
}

.relative{
	position: relative;
}

.m-a {
	margin-left: auto;
	margin-right: auto;
}
.mb17 {
	margin-bottom: 17px;
}
.mb20 {
	margin-bottom: 20px;
}
.mt20 {
	margin-top: 20px;
}


.flexbox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.flexbox--wrap {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flexbox--center {
	-webkit-justify-content: center;
	justify-content: center;
}
.flexbox--justify {
	-webkit-box-pack:justify;
	-moz-box-pack:justify;
	-ms-flex-pack:justify;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}
.flexbox__ma {
	margin: auto;
}

ol {
	counter-reset: headings 0;
}
ol > li:before {
	counter-increment: headings 1;
	content: counter(headings, decimal)'. ';
}

.underline:after {
	content: '';
	height: 1px;
	background: #fff;
	display: block;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
	opacity: 0;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}
.underline:hover:after {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.btn-hover {
	top: 0;
	display: block;
	position: relative;
	transition: top .2s linear;
}
.btn-hover:after {
	content: attr(data-hover);
	display: block;
}
.btn-hover:hover {
	top: -100%;
}

/* tabs
-----------------------------------------------------------------------------*/
.tabs {
	position: relative;
}
.tabs__nav {
	margin-right: 145px;
	border-bottom: solid 1px #e6e9f0;
}
.tabs__dt {
	float: left;
	cursor: pointer;
	height: 46px;
	font-size: 16px;
	line-height: 46px;
	padding-top: 3px;
	top: 7px;
	border-radius: 4px 4px 0 0;
	background-color: #f1f4f8;
	position: relative;
	overflow: hidden;
}
.tabs__dt .btn-hover:hover {
	top: -46px !important;
}
.tabs__dt--active .btn-hover,
.tabs__dt--active .btn-hover:hover {
	top: 0 !important;
	transition: top .0s;
}
.tabs__dt .btn-hover:after {
	height: 46px;
	line-height: 46px;
}
.tabs .tabs__dt--active {
	height: 53px;
	font: 20px/50px 'ProximaNova-Semibold';
	border: solid 1px #e6e9f0;
	border-bottom: 0;
	background: #fff;
	top: 1px;
}
.tabs__dt span{
	padding: 0 53px;
}
.tabs__dt--active span{
	padding: 0 36px;
}
.tabs__body .tabs__dd{
	clear: left;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.tabs__body .tabs__dd--active{
	opacity: 1;
	width: auto;
	height: auto;
	z-index: inherit;
	overflow: inherit;
	position: relative;
	padding: 48px 0;
}

/* alert
-----------------------------------------------------------------------------*/
.alert_up {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 11;
	height: 100%;
	background-color: rgba(50,50,51,.9);
}
.alert_up--hide {
	height: 0;
	overflow: hidden;
}
.alert_up__window {
	width: 540px;
	position:absolute;
	top: -9999px;
}
.alert_up__bg,
.alert_up__window--bg {
	border-radius: 6px;
	background: #fff;
}
.alert_up h3 {
	text-align: center;
	padding: 16px 0;
	color: #fff;
	font: 24px/30px 'ProximaNova-Semibold';
}
.alert_up p{
	color: #96a0aa;
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer{
	overflow: hidden;
	position: relative;
}
.jspPane{
	position: absolute;
}
.jspVerticalBar{
	position: absolute;
	top: 0;
	right: 0;
	width: 14px;
	height: 100%;
}
.jspVerticalBar:before{
	position: absolute;
	top: 0;
	left: 4px;
	bottom: 0;
	content: '';
	width: 6px;
	opacity: .2;
	border-radius: 3px;
	background-color: #96a0aa;
}
.jspCap{
	display: none;
}
.jspTrack{
	position: relative;
}
.jspDrag{
	width: 6px;
	opacity: .2;
	background-color: #96a0aa;
	position: relative;
	top: 0;
	left: 4px;
	border-radius: 3px;
	cursor: pointer;
}

/* img-cover
-----------------------------------------------------------------------------*/
.img-cover{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 460px;
}
.img-cover--auto77 {
	height: auto;
	padding: 77px 0;
}
.img-cover--absolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.img-cover:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	opacity: .3;
	background: #000;
}
.img-cover--blur {
	-webkit-filter: blur(8px);
	filter: blur(8px);
	transform: scale(1.1);
}
.img-cover .ico--prev {
	top: 210px;
	left: 60px;
}
.img-cover .ico--next {
	top: 210px;
	left: auto;
	right: 60px;
}