/* header
-----------------------------------------------------------------------------*/
.header__top {
	padding: 24px 0;
}
.header__logo {
	position: relative;
	width: 256px;
	height: 42px;
	background: url(../images/sprite.svg) -46px -1186px;
}
.header__logo--menu {
	display: none;
}
.header__contact {
	font-size: 13px;
	line-height: 14px;
	margin-left: 20px;
	position: relative;
}
.header__tel {
	display: block;
	font-family: 'ProximaNova-Bold';
	font-size: 26px;
	line-height: 28px;
	height: 25px;
	color: #ff0142;
}
.header__help,
.header__address-office {
	color: #2b3246;
	display: block;
	font-size: 14px;
	line-height: 18px;
	height: 15px;
	margin: 11px 20px 20px 50px;
	position: relative;
}
.header__help:before,
.header__address-office:before {
	position: absolute;
	width: 1px;
	height: 36px;
	top: -8px;
	content: '';
	opacity: .3;
	right: -20px;
	background: rgb(171,173,176);
}
.header__help .ico,
.header__address-office .ico {
	top: -4px;
	left: -33px;
}
.header .underline:after {
	background: #2b3246;
}

.header__menu {
	position: relative;
	height: 80px;
}
.header__menu--submenu-fixed {
	height: 160px;
}
.header__menu--submenu-show {
	z-index: 3;
}
.header__menu:before {
	position: absolute;
	background: #ffee2f;
	height: 80px;
	top: 0;
	left: 0;
	right: 0;
	content: '';
}
.header__menu--submenu-gray {
	background: #fbfbfc;
}
.header__menu--fixed .header__menu-box{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
	-webkit-animation: menu .4s linear;
	animation: menu .4s linear;
}
.header__menu--fixed .menu-top {
	background: #fff;
}
.header__menu--fixed.header__menu--submenu-fixed .menu-top-submenu {
	margin-top: -76px;
	background: #f8f8fb;
}
.header__menu--submenu-fixed.header__menu--fixed.header__menu--submenu-show .menu-top-submenu {
	top: 152px;
}
.header__menu--fixed .header__logo--menu {
	display: block;
	height: 44px;
	left: 12px;
	position: absolute;
	top: 18px;
	width: 44px;
	z-index: 9;
	opacity: 1 !important;
	background-position: -891px -18px !important;
}

@-webkit-keyframes menu {
	0% {
		top: -80px;
	}
	100% {
		top: 0;
	}
}
@keyframes menu {
	0% {
		top: -80px;
	}
	100% {
		top: 0;
	}
}

.menu-top {
	height: 80px;
	padding: 17px;
	position: relative;
	z-index: 2;
	border-radius: 4px;
	background: #ffee2f;
}
.menu-top li {
	float: left;
	height: 24px;
	margin-top: 11px;
	padding: 0 3px;
	border-left: 1px solid rgba(171,173,176,.3);
}
.menu-top li:first-child {
	border: 0;
}
.menu-top a {
	color: #2b3246;
	font-size: 15px;
	line-height: 24px;
	padding: 14px;
}
.header__menu a {
	transition:.5s;
}
.menu-top__current,
.footer__menu a:hover,
.header__menu a:not(.btn):hover,
.menu-top__submenu:hover:before {
	opacity: .5
}
.menu-top .menu-top__plus {
	margin-left: 3px;
	padding-left: 16px;
}
.menu-top .menu-top__submenu {
	padding-right: 21px;
}
.menu-top__submenu:before {
	position: absolute;
	top: 11px;
	right: 18px;
	content: '';
	border-color: #2b3246 transparent;
	border-style: solid;
	border-width: 4px 4px 0;
	transition: opacity .5s;
}
.menu-top .menu-top__btn-lk {
	float: right;
	border: 0;
	margin: 0;
	padding: 0;
}
.menu-top .menu-top__btn-lk a{
	padding: 12px 0 0 20px;
	width: 184px;
}
.menu-top .btn--lk{
	background: rgba(42,50,70,.1);
}
.menu-top .btn--lk:hover{
	background: rgba(255,255,255,1);
}
.header__menu--fixed .btn--lk:hover{
	background: #ffee2f;
}
.menu-top .menu-top__btn-lk .ico{
	left: 12px;
	top: 10px;
}

.header__menu--submenu-show .menu-top__submenu:before,
.header__menu--submenu-fixed .menu-top__submenu:before {
	border-width: 0 4px 4px;
}
.menu-top-submenu {
	position: absolute;
	top: 26px;
	left: 0;
	right: 0;
	margin: auto;
	width: 906px;
	font-size: 1px;
	text-align: center;
	background: #f8f8fb;
	border-radius: 4px;
	padding: 10px 0 8px;
	z-index: 1;
	transition: top .5s;
	overflow: hidden;
}
.header__menu--submenu-show:not(.header__menu--submenu-fixed) .menu-top-submenu:before,
.header__menu--submenu-show.header__menu--fixed .menu-top-submenu:before {
	position: absolute;
	top: -4px;
	left: -4px;
	right: -4px;
	height: 4px;
	content: '';
	box-shadow: 0 1px 10px rgba(0,0,0,.5);
}
.header__menu--submenu-show .menu-top-submenu {
	top: 76px;
}

.header__menu--submenu-fixed .menu-top-submenu {
	top: 92px;
	background: none;
	text-align: left;
}

.menu-top-submenu li{
	display: inline-block;
}
.menu-top-submenu a,
.menu-top-submenu__current{
	color: #2b3246;
	font-size: 15px;
	line-height: 24px;
	padding: 5px 28px;
	display: block;
}

.header__menu--submenu-fixed .menu-top-submenu a {
	padding: 5px 20px;
}
.header__menu--submenu-fixed .menu-top-submenu li:before {
	background: #96a0aa
}
.menu-top-submenu__current{
	opacity: .5;
	padding: 5px 20px;
}
.menu-top-submenu .ico--arrow-right-gray {
	left: 100%;
	top: 5px;
	margin-left: -16px;
}
.menu-top-submenu li:before {
	position: absolute;
	width: 4px;
	height: 4px;
	top: 15px;
	left: -2px;
	border-radius: 50%;
	content: '';
	background-color: #d5c833;
}
.menu-top-submenu li:first-child:before,
.header__menu--submenu-fixed .menu-top-submenu li:nth-child(2):before {
	display: none;
}

.header__btn-city {
	width: 150px;
	border: 1px solid rgba(150, 160, 170, .8);
	border-radius: 4px;
	line-height: 19px;
	padding: 10px 10px 10px 32px;
	position: relative;
	color: #96a0aa;
}
.header__btn-city .ico{
	top: 6px;
	left: 4px;
}
.header__btn-city span{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* header white
-----------------------------*/
.header--white {
	height: 688px;
}
.header--white .header__logo {
	background-position: -40px -100px
}
.header--white .underline:after,
.header--white .menu-top {
	background: #fff;
}
.header--white .header__menu {
	height: 80px;
}
.header--white .header__menu:before{
	background: none
}
.header--white .menu-top-submenu {
	background: #f7f23d;
}
.header--white .header__help,
.header--white .header__address-office,
.header--white .header__contact,
.header--white .header__tel,
.header--white .menu-top .btn--gray {
	color: #fff
}

.header--white .header__help:before,
.header--white .header__address-office:before {
	opacity: .2;
	background: #fff;
}

.header--white .header__btn-city {
	color: #fff;
	background: rgba(255,255,255,.21);
	border-color: rgba(255, 255, 255, 1);
}
.header--white .calkulator h1{
	color: #fff;
	padding: 0 0 48px;
}

.header--white:before {
	opacity: .2;
}

.main--bb {
	margin-bottom: 10px;
	padding-bottom: 184px;
	border-bottom: 1px solid #e5e7e9;
}

#video,
.header__video,
.header__video:after,
.header__cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.header__video:after {
	background: #000;
	content: "";
	opacity: .5;
}

/* calkulator
-----------------------------------------------------------------------------*/
.calkulator {
	width: 760px;
	margin: auto;
	padding-top: 50px;
	position: relative;
}
.calkulator h1{
	color: #2b3246;
	padding: 14px 0 62px;
}
.calkulator__box {
	height: 458px;
	position: relative;
}
.calkulator__head .select {
	width: 220px;
	float: left;
	margin-left: 20px;
	background: #fff
}
.calkulator__head .select .select__value {
	padding: 13px 60px 12px 20px
}
.calkulator__head .select .select__value:before {
	right: 15px;
	top: 20px;
}
.calkulator__head .select:first-child {
	margin-left: 0;
}
.calkulator__head .select:last-child {
	margin-left: 0;
	float: right;
}

.calkulator__left {
	width: 460px;
}
.calkulator__right {
	width: 220px;
}
.calkulator__radio-btn .btn--checked:after {
	position: absolute;
	top: 72px;
	left: 50%;
	content: '';
	margin-left: -6px;
	border-width: 0 7px 6px;
	border-style: solid;
	border-color: #d8dce7 transparent;
}
.calkulator__foot {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 88px;
	overflow: hidden;
	border-top: 1px solid #d8dce7;
}
.calkulator__foot-ul {
	position: absolute;
	left: 0;
	opacity: 0;
	display: none;
	background: #fff;
	-webkit-animation: foot-ul-active 1s linear;
	animation: foot-ul 1s linear;
}
.calkulator__foot-ul--active {
	opacity: 1;
	z-index: 1;
	-webkit-animation: foot-ul-active 1s linear;
	animation: foot-ul-active 1s linear;
}
@-webkit-keyframes foot-ul {
	0% {
		top: 0;
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		top: 30px;
		opacity: 0;
	}
}
@-webkit-keyframes foot-ul-active {
	0% {
		top: -30px;
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}
@keyframes foot-ul {
	0% {
		top: 0;
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		top: 30px;
		opacity: 0;
	}
}
@keyframes foot-ul-active {
	0% {
		top: -30px;
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}
.calkulator__foot li{
	float: left;
	line-height: 17px;
	padding: 27px 0 0 72px;
	width: 242px;
	white-space: nowrap;
}
.calkulator__foot-ul .left-20 {
	left: -20px;
}
.calkulator__foot-ico {
	position: absolute;
	width: 42px;
	height: 42px;
	top: 22px;
	left: 22px;
	background-image: url(../images/sprite.svg);
}
.calkulator__foot-ico--1 {
	background-position: -730px -1154px
}
.calkulator__foot-ico--2 {
	background-position: -182px -434px
}
.calkulator__foot-ico--3 {
	background-position: -326px -432px
}
.calkulator__foot-ico--4 {
	background-position: -477px -1156px
}
.calkulator__foot-ico--5 {
	background-position: -35px -436px
}
.calkulator__foot-ico--6 {
	background-position: -538px -1155px
}
.calkulator__foot-ico--7 {
	background-position: -596px -1234px
}
.calkulator__foot-ico--8 {
	background-position: -536px -1232px
}
.calkulator__foot-ico--9 {
	background-position: -477px -1234px
}
.calkulator__foot-ico--10 {
	background-position: -606px -1152px
}
.calkulator__foot-ico--11 {
	background-position: -720px -1230px
}
.calkulator__foot-ico--12 {
	background-position: -672px -1152px
}
.calkulator__foot-ico--13 {
	background-position: -670px -1230px
}

.calkulator__foot li:nth-child(n+2):after{
	position: absolute;
	content: '';
	background: url(../images/sprite.svg) -639px -197px;
	left: -28px;
	top: 34px;
	width: 20px;
	height: 20px;
}

.calkulator__right-box {
	height: 144px;
}
.calkulator__right .btn {
	height: 52px;
	line-height: 52px;
}
.calkulator__right-return {
	text-align: center;
	color: #96a0aa;
	font-size: 16px;
	line-height: 38px;
	position: relative;
	height: 171px;
	padding-top: 43px;
	margin: 20px auto;
	border-radius: 4px;
	background: rgba(216,220,231,.1) url(../images/logo.svg) no-repeat 0 0 / cover;
	border: solid 1px rgba(150,160,170,.1);
}
.calkulator__right-return b{
	display: block;
	color: #2b3246;
	line-height: 26px;
}
.calkulator__right-return span{
	font-size: 36px;
	padding-right: 3px;
}

.calkulator__slider-box {
	padding-top: 24px;
	position: relative;
}
.calkulator__slider {
	height: 4px;
	position: relative;
	margin: 12px 16px 6px;
}
.calkulator__slider:before {
	position: absolute;
	top: 0;
	left: -16px;
	right: -16px;
	bottom: 0;
	content: '';
	border-radius: 2px;
	background: #eaecee
}
.ui-slider-range {
	position: absolute;
	top: 0;
	left: -16px;
	left: 0;
	bottom: 0;
	border-radius: 2px;
	background: #96a0aa;
}
.ui-slider-handle {
	position: absolute;
	width: 50px;
	height: 50px;
	cursor: pointer;
	top: -24px;
	top: -21px;
	top: 6px;
	margin-left: -25px;
	z-index: 2;
	background: url(../images/slider-handle.svg) center no-repeat;
	-moz-touch-action: none;
	-webkit-touch-action: none;
	touch-action: none;
	outline:1px solid red;
}
.null-procent {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
	display: none !important;
	background: #ffee2f
}
.null-procent:before {
	position: absolute;
	top: -3px;
	left: 0;
	right: 0;
	bottom: -3px;
	content: '';
	background: rgba(255,238,47,.1);
	border-left: 1px solid #ffee2f;
	border-right: 1px solid #ffee2f;
}
.calkulator__info-text {
	height: 29px;
}
.calkulator__info-text span{
	display: block;
	display: none !important;
	background: #f5f6f7;
	font-size: 12px;
	line-height: 26px;
	text-align: center;
	border-radius: 4px;
}

.calkulator__range {
	color: #96a0aa;
	font-size: 12px;
	line-height: 24px;
	height: 19px;
}
.calkulator__label {
	color: #96a0aa;
	line-height: 38px;
	height: 39px;
}
.calkulator__label b{
	font-size: 16px;
	width: 107px;
	white-space: nowrap;
}
.calkulator__input{
	font: 20px/34px 'ProximaNova-Semibold';
	width: 86px;
	height: 34px;
	color: #2a3246;
	margin-right: 9px;
	padding-left: 10px;
	border-radius: 4px;
	background: #fbfbfc;
	border: solid 1px rgba(150,160,170,.1);
}
.calkulator__label .suf{
	color: #2a3246;
}
#date-set {
	width: 56px;
	padding: 0;
	text-align: center;
}
#return-diff {
	color: #2a3246;
	font: 20px/34px 'ProximaNova-Semibold';
	padding: 0 6px;
	min-width: 65px;
	text-align: right;
}
.calkulator__radio-btn {
	padding-top: 21px;
}
.calkulator__radio-btn .btn {
	width: 142px;
}
.calkulator__radio-btn .btn:first-child{
	margin-right: 17px;
}
.calkulator__radio-btn .btn:last-child{
	float: right;
}

.calkulator__box {
	-webkit-perspective: 1520px;
	perspective: 1520px;
}
.calkulator__step-next {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 29px;
	border-radius: 6px 6px 0 0;
	background: #fff;
	border: 1px solid #d8dce7;

	-webkit-transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.4s ease-in-out 0s;
	transform: rotateY(180deg);
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transition: all .4s ease-in-out 0s;
}
.calkulator__step-next--finish {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}
.calkulator__step-next--active {
	z-index: 2;
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.calkulator__h3 {
	line-height: 24px;
	text-align: center;
	font-size: 20px;
}
.calkulator__address {
	color: rgba(42,50,70,.8);
	height: 46px;
	border-radius: 4px;
	background: #ffee2f;
	padding: 16px;
	text-align: center;
	margin: 24px 0 20px;
}
.calkulator__rules {
	height: 46px;
	border-radius: 4px;
	background: rgba(150,160,170,.1);
	padding: 8px 42px;
	display: block;
	top: 16px;
}
.calkulator__rules i{
	top: 12px;
	left: 10px;
}
.calkulator__rules a{
	text-decoration: underline;
}
.calkulator__required {
	margin: 22px 6px;
	position: relative;
	line-height: 17px;
}
.calkulator__required sup{
	color: #ff0142;
	font-size: 16px;
	left: -10px;
	position: absolute;
	top: -2px;
}
.calkulator .ico--arrow-left-gray{
	right: 6px;
	top: 5px;
	left: auto;
}
.calkulator__input-box {
	position: relative;
	display: block;
}
.calkulator__input-box .input{
	z-index: 2;
	padding-top: 10px;
}
.calkulator__input-box sup{
	color: #ff0142;
	font-size: 16px;
	position: absolute;
	top: -4px;
	right: -6px;
}
.calkulator__placeholder {
	position: absolute;
	top: 14px;
	left: 20px;
	color: rgba(42,50,70,.6);
	transition:.5s;
	z-index: 1;
}
.calkulator__input-box--placeholder .calkulator__placeholder,
.calkulator__input-box .input:focus ~ .calkulator__placeholder {
	top: 2px;
	font-size: 12px;
}
.calkulator__input-box--placeholder .calkulator__placeholder {
	opacity: .5
}
.calkulator__input-box--placeholder .calkulator__placeholder sup {
	opacity: 0
}

/* home
-----------------------------------------------------------------------------*/
.home-article {
	padding-top: 168px;
}
.home-article:before {
	position: absolute;
	width: 630px;
	height: 630px;
	top: -324px;
	left: 0;
	right: 0;
	margin: auto;
	content: '';
	z-index: -1;
	border-radius: 50%;
	background: #f4f5f8;
}
.home-article__intro {
	padding-bottom: 80px;
}
.home-article__intro li{
	float: left;
	margin: 0 35px 0 30px;
	width: 260px;
	height: 100px;
	border-radius: 8px;
	border: solid 1px #d8dce7;
	padding-left: 50px;
	font-size: 15px;
	line-height: 20px;
	background: #fff;
	color: #8a91a1;
}
.home-article__intro li:last-child{
	margin: 0;
	float: right;
}
.home-article__intro b{
	display: block;
	color: #2a3246;
	font: 36px/80px 'ProximaNova-Semibold', 'ProximaNova-Bold';
	height: 57px;
}
.home-article__intro li:after,
.home-article__intro li:before,
.home-article__step li:before,
.home-article__step li:nth-child(2):after,
.home-article__step li:nth-child(3):after{
	position: absolute;
	width: 66px;
	height: 66px;
	top: 15px;
	left: -35px;
	content: '';
	border-radius: 50%;
	border: solid 1px #d8dce7;
	background: url(../images/sprite.svg) -22px -494px;
}
.home-article__intro li:before{
	width: 78px;
	height: 78px;
	top: 10px;
	left: -40px;
	border: 0;
	background: #fff;
}
.home-article__intro li:nth-child(2):after{
	background-position: -160px -495px
}
.home-article__intro li:nth-child(3):after{
	background-position: -299px -495px
}
.home-article__title{
	text-align: center;
	padding: 52px 0 10px;
	font: 36px/80px 'ProximaNova-Light';
}
.home-article__step {
	padding-bottom: 55px;
}
.home-article__step li{
	float: left;
	margin: 0 48px 0 30px;
	width: 250px;
	padding: 14px 0 0 83px;
	font-size: 16px;
	line-height: 20px;
	color: #96a0aa;
}
.home-article__step li:last-child{
	margin: 0;
	float: right;
}
.home-article__step li:before{
	top: 0;
	left: 0;
	border: solid 1px #2a3246;
	background-position: -20px -363px
}
.home-article__step li:nth-child(2):before{
	background-position: -155px -363px
}
.home-article__step li:nth-child(3):before{
	background-position: -299px -363px
}
.home-article__step li:nth-child(2):after,
.home-article__step li:nth-child(3):after{
	width: 30px;
	height: 30px;
	top: 20px;
	left: -72px;
	border: 0;
	background-position: -732px -371px
}
.home-article__text{
	border-radius: 8px;
	border: solid 1px #d8dce7;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	margin-bottom: 80px;
	padding: 33px 40px;
	vertical-align:baseline;
}
.home-article__text a{
	height: 20px;
	display: inline-block;
	vertical-align: baseline;
	border-bottom: 1px solid red
}
.home-article__text a:hover{
	border-bottom: 0
}

.table-promo {
	margin: auto;
	width: 830px;
	border-radius: 6px;
	background-color: #fff;
	padding: 20px 40px;
	position: relative;
	z-index: 1;
}
.table-promo:before {
	border-radius: 6px 6px 0 0;
	background-color: #dae1eb;
	opacity: .6;
	padding: 38px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	content: '';
	z-index: -1;
}
.table-promo th{
	text-align: left;
	font: 16px/22px 'ProximaNova-Semibold';
	color: #8591a1;
	padding: 10px 1px 37px
}
.table-promo td{
	font-size: 16px;
	padding: 24px 1px;
	color: #8591a1;
}
.table-promo td b{
	color: #2a3246;
}
.table-promo tr:nth-child(n+2) td {
	border-top: 1px solid #e6e9f0;
}
.table-promo th:nth-child(2) {
	width: 170px;
}
.table-promo th:nth-child(3) {
	width: 130px;
}
.table-promo th:nth-child(4) {
	width: 110px;
}


/* feedback slider
-----------------------------------------------------------------------------*/
.feedback-slider{
	height: 582px;
	background: url(../images/quotes-yellow.svg) center -32px no-repeat;
}
.feedback-slider h2{
	text-align: center;
	padding: 40px 0 22px;
	font: 36px/82px 'ProximaNova-Light';
}
.feedback-slider__item{
	text-align: center;
	width: 660px;
	height: 280px;
	border-radius: 6px;
	background: #fff;
	padding: 85px 50px 0;
	position: absolute;
	left: 50%;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	background: url(../images/sprite.svg) -48px -828px #fff;
	z-index: 1;

	top: 180px;
	opacity: 0;
	margin-left: -330px;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	-webkit-transform: scale(.3) translate3d(0px, 0px, 0px);
	transform: scale(.3) translate3d(0px, 0px, 0px);
}
.feedback-slider__item h3{
	font: 18px/24px 'ProximaNova-Semibold';
	padding-bottom: 24px;
}
.feedback-slider__item p{
	font-size: 16px;
	line-height: 22px;
	color: #96a0aa;
}
.feedback-slider__item img{
	position: absolute;
	top: -56px;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 5px;
	max-width: 174px;
	max-height: 112px;
}
.feedback-slider__nav-left,
.feedback-slider__nav-right {
	left: 50%;
	margin-left: -200px;
	top: 176px;
	z-index: 5;
}
.feedback-slider__nav-right {
	margin-left: 154px;
}
.feedback-slider__left,
.feedback-slider__right {
	z-index: 3;
	opacity: .3;
	-webkit-transform: scale(.7) translate3d(-480px, 42px, 0px);
	transform: scale(.7) translate3d(-480px, 42px, 0px);
}
.feedback-slider__right {
	-webkit-transform: scale(.7) translate3d(480px, 42px, 0px);
	transform: scale(.7) translate3d(480px, 42px, 0px);
}
.feedback-slider__first {
	opacity: 1;
	z-index: 4;
	-webkit-transform: scale(1) translate3d(0, 20px, 0px);
	transform: scale(1) translate3d(0px, 20px, 0px);
}

/* tabs home
-----------------------------------------------------------------------------*/
.tabs--home {
	padding-bottom: 75px;
}
.tabs--home > article{
	display: none;
}
.tabs--home .tabs__body h2{
	text-align: center;
	padding: 40px 0 22px;
	font: 36px/82px 'ProximaNova-Light';
}
.tabs--home__link-all {
	position: absolute;
	top: -12px;
	right: 40px;
	font-size: 16px;
	line-height: 20px;
	color: #96a0aa;
}
.tabs--home__link-all.underline:after {
	background: #96a0aa;
}
.tabs--home__link-all .ico{
	left: 100%;
	top: -5px;
	margin-left: 11px;
}



/* after-header-img
-----------------------------------------------------------------------------*/
.promo-block .center{
	font-size: 26px;
	line-height: 32px;
	color: #fff;
	text-align: center;
}
.promo-block .btn{
	display: block;
	margin: auto;
	width: 220px;
	height: 56px;
	margin-top: 22px;
	font: 16px/56px 'ProximaNova-Bold';
}

.promo-block--h3 {
	color: #fff;
}
.promo-block--h3 h3{
	font: 48px/60px 'ProximaNova-Light';
	padding: 16px 0 9px;
}
.promo-block--h3 p{
	font: 24px/29px 'ProximaNova-Light';
}
.promo-block--h3 .btn{
	margin: 28px auto;
	font-size: 15px;
	font-family: 'ProximaNova-Regular';
}

.promo-block--2btn .center{
	font: 24px/32px 'ProximaNova-Light';
}
.promo-block--2btn .btn{
	width: 200px;
	display: inline-block;
	margin: 26px 5px 0;
	font: 15px/56px 'ProximaNova-Regular';
}

.promo-block--text .center{
	padding: 0 40px 46px;
	font: 24px/28px 'ProximaNova-Light';
}

/* img-big--about
-----------------------------------------------------------------------------*/
.img-big h1,
.docs-page h1 {
	padding: 70px 0 40px;
}
.about-intro {
	color: #fff;
	font-size: 20px;
	line-height: 24px;
	padding-bottom: 60px;
}
.about-intro b {
	display: block;
	font: 64px/70px 'ProximaNova-Light';
	color: #ffee2f;
}
.about-intro li:nth-child(1){
	padding-right: 30px;
}
.about-intro li:nth-child(2){
	padding-right: 15px;
}
.about-intro li:nth-child(3){
	padding-left: 15px;
}
#about-slider {
	position: relative;
	height: 4px;
	margin: 0 3px;
}
#about-slider:before {
	position: absolute;
	top: 0;
	left: -3px;
	right: -3px;
	bottom: 0;
	content: '';
	border-radius: 2px;
	background: #fff;
}
#about-slider .sep8,
#about-slider .sep12{
	position: absolute;
	top: 9px;
	width: 1px;
	height: 8px;
	background: #fff;
}
#about-slider .sep12{
	height: 12px;
}
.about-table-years {
	margin: 22px 0;
	position: relative;
}
.about-table-years ul,
.about-table-years li{
	position: absolute;
	top: 0;
	left: -22px;
}
.about-table-years li{
	width: 50px;
	color: #fff;
	text-align: center;
}
.about-text {
	padding-bottom: 44px;
	text-align: center;
}
.about-text h2{
	font: 36px/44px 'ProximaNova-Light';
	padding: 80px 0 20px;
}
.about-text__p{
	font: 16px/26px 'ProximaNova-Light';
	padding:0 140px 26px;
}
.about-map #map {
	height: 460px
}
.about-text--face{
	padding-bottom: 60px;
}
.about-text--face h2{
	padding: 70px 0 14px;
}
.about-face li{
	width: 174px;
	color: #ff0142;
	margin: 24px 20px 14px;
}
.about-face img{
	width: 174px;
	height: 112px;
	border-radius: 10px;
	border: solid 1px #d8dce7;
	display: block;
}
.about-face b{
	color: #2a3246;
	font: 20px/26px 'ProximaNova-Semibold';
	display: block;
	padding-top: 22px;
}

/* docs
-----------------------------------------------------------------------------*/
.docs-page h1{
	padding: 92px 0;
}
.docs-page__list {
	width: 780px;
	padding: 0 30px 150px;
	border-radius: 6px;
	background: #fff;
	margin: auto;
	position: relative;
}
.docs-page__list li{
	border-top: 1px solid #e5e7e9;
	padding: 24px 100px 22px 52px;
}
.docs-page__list li:first-child{
	border: 0
}
.docs-page__pdf {
	left: -2px;
	top: 27px;
}
.docs-page__open {
	color: rgb(42,50,70);
	font-size: 16px;
	line-height: 24px;
}
.docs-page__file-size {
	color: rgba(42,50,70,.6);
	position: relative;
	padding-left: 28px;
}
.docs-page__file-size .ico{
	top: -3px;
}
.docs-page__download {
	position: absolute;
	top: 32px;
	right: 0;
	width: 90px;
	height: 32px;
	padding: 0;
	font: 13px/32px 'ProximaNova-Regular';
}

/* jobs
-----------------------------------------------------------------------------*/
.jobs-page {
	padding-top: 56px;
}
.jobs-page h1 {
	color: #2b3246;
	line-height: 40px;
	text-align: left;
}
.jobs-page__list {
	padding: 46px 0 30px;
}
.jobs-page dt {
	font: 16px/22px 'ProximaNova-Semibold';
	color: #ff0142;
}
.jobs-page__list dd{
	padding: 17px 0 12px 20px;
}
.jobs-page__ul li {
	font-size: 16px;
	line-height: 18px;
	padding-bottom: 12px;
}
.jobs-page__ul li:before{
	position: absolute;
	width: 5px;
	height: 5px;
	top: 6px;
	left: -20px;
	content: '';
	background: #96a0aa;
	border-radius: 50%;
}
.jobs-page__btn {
	width: 290px;
	height: 56px;
	font: 15px/56px 'ProximaNova-Regular';
}


.jobs-city {
	margin: 78px 0;
	padding: 32px 28px;
	position: relative;
	left: -2px;
	top: 1px;
	background: rgba(216,220,213,.1);
	border: solid 1px rgba(150,160,170,.1);
}
.jobs-city__h3 {
	font: 18px/28px 'ProximaNova-Semibold';
	opacity: .8;
}
.jobs-city__select {
	font-size: 14px;
	line-height: 18px;
	margin: 7px 0;
	color: #96a0aa;
	position: relative;
	padding-left: 32px;
}
.jobs-city__select:after {
	background: #96a0aa
}
.jobs-city__select .ico{
	top: -4px;
	left: 5px;
}
.jobs-city__red {
	padding: 6px 0;
	opacity: .8;
	line-height: 1.3;
	color: #ff0142;
}
.jobs-city__h4 {
	padding: 24px 0 14px;
	font: 18px/22px 'ProximaNova-Semibold';
}
.jobs-city__ul {
	opacity: .8;
	line-height: 1.3;
}
.jobs-city__ul li{
	padding-bottom: 18px;
}
.jobs-city__ul a{
	color: #2a3246;
}
.jobs-city__ul a:hover{
	color: #96a0aa;
}


/* job
-----------------------------------------------------------------------------*/
.job__cover .btn {
	margin-top: 18px;
	margin-bottom: 44px;
}
.job__cover:after {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 0;
	right: 0;
	bottom: -60px;
	margin: auto;
	content: '';
	border-radius: 50%;
	background: url(../images/sprite.svg) -13px -706px #fff;
}
.job-top {
	padding: 36px 0;
}
.job-top .h1 {
	color: #2b3246;
	padding: 34px 0 46px;
}
.job-top__item {
	width: 450px;
	height: 188px;
	border-radius: 6px;
	float: left;
	background: rgba(216,220,231,.1);
	border: solid 1px rgba(150,160,170,.1);
	margin-bottom: 40px;
	padding: 34px;
}
.job-top__item:nth-of-type(2n) {
	float: right;
}
.job-top__item h3{
	font: 24px/29px "ProximaNova-Regular";
}
.job-top__item .btn{
	line-height: 42px;
	height: 42px;
	width: 145px;
	margin: 18px auto;
}

.job-city-filter {
	width: 830px;
	padding: 18px 64px 13px;
	border-radius: 6px 6px 0 0;
	background: #eff2f7;
}
.job-city-filter__label {
	font-size: 16px;
	line-height: 46px;
	position: relative;
}
.job-city-filter__label .ico {
	left: -34px;
	top: 10px;
}
.job-city-filter__select .select {
	width: 198px;
	margin-left: 10px;
}
.job-city-filter__select .select__value {
	background: #fff
}
.job-city__link-all {
	font-size: 16px;
	color: #96a0aa;
	position: relative;
	margin: 12px 10px;
}
.job-city__link-all:after {
	background: #96a0aa;
}
.job-city__link-all .ico{
	left: auto;
	right: -42px;
	top: -6px;
}
.job-city-list {
	background: #fff;
	width: 830px;
	padding: 24px 30px 40px;
	border-radius: 0 0 6px 6px;
}
.job-city-list .list-red-arrow:nth-child(2n) {
	margin-right: 22px;
}

.list-best {
	padding: 70px 0 58px 78px;
}
.list-best .h1 {
	color: #2b3246;
	padding-bottom: 36px;
	text-align: left;
}
.list-best__item {
	width: 425px;
}
.list-best__ul li{
	font-size: 16px;
	line-height: 20px;
	padding-left: 35px;
	padding-bottom: 21px;
}
.list-best__ul li:before{
	position: absolute;
	width: 28px;
	height: 20px;
	top: 2px;
	left: -5px;
	content: '';
	background: url(../images/sprite.svg) -509px -514px;
}

.personal {
	padding: 70px 0;
}
.personal .h1 {
	color: #2b3246;
}
.personal__text {
	font: 16px/26px 'ProximaNova-Light';
	padding: 15px 100px 36px;
}
.personal__ul li{
	float: left;
	width: 280px;
	padding-bottom: 20px;
	margin-right: 50px;
}
.personal__ul li:last-child{
	margin: 0;
}
.personal__ul a{
	display: block;
	position: relative;
}
.personal__ul a:after {
	background: #000;
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 6px;
}
.personal__ul a:hover .ico--red-play {
	background: rgba(255,1,66,1);
	z-index: 1;
}
.personal__ul a:hover:after {
	opacity: .2;
}
.personal__ul img{
	display: block;
	position: relative;
	border-radius: 6px;
}
.personal__ul b{
	padding-top: 25px;
	display: block;
	font: 20px/24px 'ProximaNova-Semibold';
	color: #2a3246;
}
.personal__ul {
	line-height: 20px;
	color: #ff0142;
}

/* accept
-----------------------------------------------------------------------------*/
.accept h1 {
	color: #2b3246;
	line-height: 44px;
	padding: 44px 0;
}
.accept__total {
	border-top: 1px solid #e5e7e9;
	border-bottom: 1px solid #e5e7e9;
	padding: 16px 0;
	margin-bottom: 38px;
	text-align: center;
}
.accept__total li{
	float: left;
	width: 33.333%;
	color: #96a0aa;
	padding: 11px 0 7px;
	border-left: 1px solid #e5e7e9;
}
.accept__total li:first-child{
	border: 0;
}
.accept__total b{
	display: block;
	font: 14px/30px 'ProximaNova-Semibold';
	color: #2a3246;
}
.accept__total u{
	font-size: 24px;
	padding-right: 2px;
	text-decoration: none;
}
.map-address {
	padding-bottom: 40px;
}
.map-address #map {
	height: 450px;
	overflow: hidden;
	border-radius: 6px;
}
.map-address__address > li {
	border-radius: 4px;
	background: #fafafb;
	margin-bottom: 20px;
	padding: 14px 20px 12px;
}
.map-address__address--select .select,
.map-address__address--select .select__box {
	width: 100%;
}
.map-address__address--select > li {
	padding: 0;
	background: none;
}
.map-address__contact li{
	padding: 14px 0 4px 34px;
	font-size: 16px;
	line-height: 20px;
}
.map-address__contact .ico{
	top: 12px;
	left: -2px;
}
.map-address__contact a[href^="tel:"],
.map-address__contact a[href^="mailto:"] {
	color: #2a3246;
}
.accept__text {
	text-align: center;
	border-top: 1px solid #e5e7e9;
	padding: 16px 200px 0;
}
.accept__text p{
	padding-top: 20px;
	line-height: 19px;
}
.accept__text .btn{
	padding-left: 58px;
	padding-right: 26px;
	margin: 13px 9px 0;
	display: inline-block;
	height: 56px;
	font: 15px/56px 'ProximaNova-Regular';
}
.accept__text .btn .ico{
	top: 15px;
	left: 24px;
}

.map-address__contact-rasp {
	text-decoration: underline;
}
.map-address__contact-rasp ~ span {
	color: #96a0aa
}
.map-address__rasp {
	padding-top: 12px;
	text-align: center;
}
.map-address__rasp th{
	width: 60px;
	line-height: 22px;
	padding: 0 2px;
	font-size: 12px;
	font-weight: 400;
}
.map-address__rasp th:after{
	display: block;
	height: 2px;
	content: '';
	background: #ffee2f;
}
th.map-address__rasp-today:after{
	background: #fff;
}
.map-address__rasp td{
	width: 60px;
	padding: 5px 2px;
	font-size: 12px;
	line-height: 15px;
}
td.map-address__rasp-lunch {
	font-size: 10px;
	color: #96a0aa;
	padding: 0;
}
td.map-address__rasp-sep {
	padding: 0 2px;
}
.map-address__rasp-sep:before {
	content: '';
	display: block;
	height: 1px;
	opacity: .4;
	background-color: #d8d8d8;
}
.map-address__rasp-today {
	background: #fcfed3;
}

/* jobs all
-----------------------------------------------------------------------------*/
.jobs-all {
	padding-bottom: 36px;
}
.jobs-all h1{
	padding: 86px 0 68px;
}
.search-filter {
	padding: 30px;
	border-radius: 8px 8px 0 0;
	background: rgba(50,50,50,.5);
}
.search-filter__label {
	float: left;
	color: #fff;
	font: 16px/48px 'ProximaNova-Regular';
}
.search-filter__select {
	float: left;
	margin: 0 2px 0 18px;
	width: 284px;
}
.search-filter__select .select,
.search-filter__select .select__box {
	width: 100%;
}
.search-filter__select .select__value {
	padding: 14px 32px 13px 18px;
	border: 0;
	background: #fff
}
.search-filter__select .select__value::before {
	right: 14px;
	top: 20px;
	border-color: #96a0aa transparent;
}
.search-filter__btn {
	float: right;
	width: 195px;
}

.jobs-all__list {
	padding: 20px;
	background: #fff;
}
.jobs-all__list .list-red-arrow {
	float: left;
	width: 400px;
	clear: left;
}
.jobs-all__list .list-red-arrow:nth-child(2n) {
	margin-right: 50px;
	float: right;
	clear: right;
}

.list-red-arrow {
	padding: 12px 10px 4px;
}
.list-red-arrow__title {
	font: 18px/26px 'ProximaNova-Semibold';
	padding-bottom: 30px;
}
.list-red-arrow__list li{
	font-size: 15px;
	line-height: 19px;
	padding-left: 23px;
	padding-bottom: 17px;
}
.list-red-arrow__list a{
	color: #2a3246;
	text-decoration: underline;
}
.list-red-arrow__list li:before {
	position: absolute;
	width: 8px;
	height: 14px;
	top: 2px;
	left: -2px;
	content: '';
	background: url(../images/sprite.svg) -462px -518px;
}

/* faq
-----------------------------------------------------------------------------*/
.img-big--faq h1{
	padding: 0 0 14px;
}
.img-big--faq p{
	font: 16px/26px 'ProximaNova-Light';
	color: #fff;
	text-align: center;
}
.faq {
	padding: 40px 0 0;
}
.faq__cat {
	float: left;
	width: 280px;
	height: 160px;
	text-align: center;
	padding-top: 64px;
	border-radius: 6px;
	cursor: pointer;
	background: rgba(216,220,231,.1);
	border: solid 1px rgba(150,160,170,.1);
}
.faq__cat:nth-child(2) {
	margin-left: 50px;
}
.faq__cat:nth-child(3) {
	float: right;
}
.faq__cat:before {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 24px;
	left: 0;
	right: 0;
	content: '';
	margin: auto;
	background-image: url(../images/sprite.svg);
}
.faq__cat:nth-child(2):before {
	background-position: -646px -259px;
}
.faq__cat:nth-child(3):before {
	background-position: -731px -260px;
}
.faq__cat:nth-child(1):before {
	background-position: -819px -259px;
}
.faq__cat--active {
	padding-top: 63px;
	background: #fff;
	border: solid 2px #96a0aa;
}
.faq__cat--active:before {
	top: 23px;
}
.faq__title {
	font: 24px/42px 'ProximaNova-Light';
}
.faq__total-item {
	color: #ff0142;
}
.faq__item {
	display: none;
}
.faq__item--active {
	display: block;
}
.faq hr {
	float: left;
	width: 100%;
	margin: 40px 0;
}
.faq__box-item {
	display: none;
}
.faq__box-nav {
	float: left;
	width: 308px;
	position: relative;
	left: -14px;
}
.faq__box-nav .faq__item-name {
	height: 36px;
	line-height: 36px;
	padding: 0 14px;
	cursor: pointer;
	font-size: 16px;
	text-decoration: underline;
	position: relative;
}
.faq__box-nav .faq__item-name:hover {
	text-decoration: none;
}
.faq__box-nav .faq__item-name--active {
	cursor: default;
	text-decoration: none;
}
.faq__box-nav .faq__item-name--active:before {
	position: absolute;
	top: -3px;
	left: 0;
	right: 0;
	bottom: -3px;
	content: '';
	z-index: -1;
	border-radius: 6px;
	background: #ffee2f;
}
.faq__box-list {
	float: right;
	width: 610px;
	padding: 34px 40px;
	line-height: 26px;
	font-size: 16px;
	border-radius: 6px;
	background: rgba(216,220,231,.1);
	border: solid 1px rgba(150,160,170,.1);
}
.faq__box-list p{
	opacity: .8;
	padding: 10px 0
}
.faq__box-list .faq__item-name {
	line-height: 30px;
	padding-bottom: 10px;
	font-size: 24px;
}

/* feedback
-----------------------------------------------------------------------------*/
.bg-grad {
	margin-top: 10px;
	padding: 70px 0;
	background: #fbfbfc;
	background: -webkit-linear-gradient(top, #fbfbfc 0%, #ffffff 800px, #ffffff 100%);
	background: linear-gradient(to bottom, #fbfbfc 0%, #ffffff 800px, #ffffff 100%);
}
.feedback:before {
	position: absolute;
	width: 279px;
	height: 227px;
	left: 0;
	right: 0;
	bottom: 46px;
	margin: auto;
	content: '';
	background: url(../images/quotes-gray.svg);
}
.feedback__item {
	margin-bottom: 30px;
	padding: 38px 38px 26px;
	min-height: 280px;
	border-radius: 6px;
	background: #fff;
	border: solid 1px rgba(150, 160, 170, 0.3);
}
.feedback__img {
	max-width: 176px;
	border-radius: 10px;
	float: left;
	border: solid 1px rgba(150, 160, 170, 0.3);
}
.feedback__body {
	float: right;
	width: 645px;
	padding: 5px 0;
	position: relative;
}
.feedback__name {
	font: 18px/26px 'ProximaNova-Semibold';
	color: #ff0142;
}
.feedback__city {
	color: rgba(42, 50, 70, 0.7);
}
.feedback__date {
	position: absolute;
	top: 21px;
	right: 172px;
	color: #96a0aa;
}
.feedback__stars {
	position: absolute;
	top: 14px;
	right: 0;
	height: 30px;
	width: 153px;
	border-left: 1px solid #d8d8d8;
}
.feedback__stars i {
	position: absolute;
	width: 134px;
	height: 24px;
	top: 2px;
	left: 18px;
	background: url(../images/sprite.svg) -647px -128px;
}
.feedback__stars i:after {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	content: '';
	background: url(../images/sprite.svg) -647px -98px;
}
.feedback__star-1:after{
	width: 27px;
}
.feedback__star-2:after{
	width: 54px;
}
.feedback__star-3:after{
	width: 80px;
}
.feedback__star-4:after{
	width: 107px;
}
.feedback__star-5:after{
	width: 134px;
}
.feedback__text {
	margin-top: 16px;
	height: 120px;
	overflow: hidden;
	font-size: 16px;
	line-height: 24px;
	position: relative;
	color: rgba(42, 50, 70, 0.8);
}
.feedback__readmore {
	font-size: 16px;
	line-height: 24px;
	position: relative;
	text-decoration: underline;
}
.feedback__readmore:after{
	border-left-color: transparent;
	border-right-color: transparent;
	border-style: solid;
	border-width: 4px 4px 0;
	content: "";
	position: absolute;
	right: -14px;
	top: 9px;
}
.feedback__readmore--active:after{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.btn--load-item {
	display: block;
	height: 56px;
	margin: 58px auto 50px;
	width: 300px;
	font: 16px/56px 'ProximaNova-Bold';
	color: #2a3246;
}

/* news
-----------------------------------------------------------------------------*/
.news{
	padding: 80px 0;
}
.news .news-item {
	margin-bottom: 20px;
}
.news .btn--load-item {
	margin: 20px auto 40px;
}
.news-item{
	float: left;
	width: 280px;
	min-height: 330px;
}
.news-item:nth-child(3n+2){
	margin-left: 50px;
}
.news-item:nth-child(3n+3){
	float: right;
}
.news-item__img{
	display: block;
	overflow: hidden;
	position: relative;
}
.news-item__img img{
	width: 280px;
	height: 180px;
	display: block;
	transition: 1s;
	position: relative;
}
.news-item__img:hover img{
	-webkit-transform:scale(1.05);
	transform:scale(1.05);
}
.news-item__img:after{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	background: #000;
	opacity: 0;
}
.news-item__img:hover:after{
	opacity: .2;
}
.news-item__date {
	display: block;
	font-size: 13px;
	color: #96a0aa;
	padding: 22px 0 6px;
}
.news-item__title{
	font-size: 16px;
	line-height: 24px;
	color: #2a3246;
}

.img-big--news {
	padding-bottom: 14px;
}
.img-big--news h1{
	padding: 0;
}
.subscribe {
	position: relative;
}
.subscribe p {
	text-align: center;
	font: 20px/28px 'ProximaNova-Light';
	color: #fff;
	padding-bottom: 22px;
}
.subscribe__form {
	width: 420px;
	margin: auto;
	position: relative;
}
.subscribe .ico{
	top: 11px;
	left: 16px;
}
.subscribe__input {
	width: 256px;
	background: #fff;
	border-radius: 4px 0 0 4px;
}
.subscribe .input {
	padding-left: 50px;
	border: 0;
}
.subscribe__btn {
	width: 160px;
	border-radius: 0 4px 4px 0;
}
.subscribe--gray {
	height: 214px;
	padding: 30px 0 64px;
	background: #fbfbfc;
}
.subscribe--gray p{
	color: #2a3246;
	padding: 24px 0;
}
.subscribe--gray .input {
	border-radius: 4px 0 0 4px;
	border: solid 1px #96a0aa;
	border-right: 0;
}

.new__delals {
	padding: 8px 0 12px;
	color: #fff;
	font-size: 1px;
	text-align: center;
}
.new__date {
	font-size: 14px;
	line-height: 22px;
	height: 24px;
	vertical-align: top;
	position: relative;
	display: inline-block;
	padding: 0 20px 0 28px;
	border-right: 1px solid rgba(255,255,255,.3);
}
.new__date .ico{
	top: -3px;
}
.new__like {
	color: #fff;
	margin: 0 4px 0 14px;
	padding-left: 28px;
	font-size: 15px;
	line-height: 22px;
	height: 24px;
	vertical-align: top;
	position: relative;
	display: inline-block;
}
.new__like .ico{
	top: -2px;
}
.new .new__h1 {
	padding: 0 50px;
	line-height: 44px;
}
.new__text h2 {
	padding: 5px 0 22px;
	font: 24px/30px 'ProximaNova-Bold';
}
.new__text {
	max-width: 620px;
}
.new__text p {
	font-size: 16px;
	line-height: 25px;
	padding-bottom: 28px;
}
q {
	font-size: 16px;
	line-height: 26px;
	color: #96a0aa;
	padding-left: 25px;
	display: block;
	position: relative;
	font-style: italic;
	border-left: 3px solid;
	margin-bottom: 28px;
}
q:after,
q:before {
	display: none;
}
.new .subscribe {
	margin-bottom: 12px;
}


/* page 100% height
-----------------------------------------------------------------------------*/
.page-height100p {
	background-position: center 0;
}
.page-height100p:before {
	display: none;
}
.page-height100p .center {
	width: 940px;
}
.page-height100p__h1 {
	line-height: 37px;
	color: #2a3246;
	text-align: left;
	font-size: 21px;;
}
.page-height100p__b {
	display: block;
	font: 80px/100px 'ProximaNova-Light';
}
.page-height100p__btn {
	width: 200px;
	height: 56px;
	margin-top: 17px;
	font: 15px/56px 'ProximaNova-Regular';
}
.specials__prev,
.specials__next {
	top: 50%;
	left: 60px;
	z-index: 5;
	margin-top: -23px;
}
.specials__next {
	left: auto;
	right: 60px;
}
.specials__nav {
	position: absolute;
	z-index: 5;
	left: 0;
	right: 0;
	bottom: 16px;
	text-align: center;
}
.specials__nav-box {
	display: inline-block;
	border-radius: 18px;
	padding: 10px 8px;
	background: rgba(41,50,70,.4);
}
.specials__nav i{
	float: left;
	width: 10px;
	height: 10px;
	margin: 0 10px;
	border-radius: 50%;
	cursor: pointer;
	background: #fff;
}
.specials__nav .active{
	background: #ff0142;
	cursor: default;
}

.specials {
	overflow: hidden;
}
.specials__item {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	opacity: 0;
}
.specials__item--active {
	position: relative;
	z-index: 2;
	opacity: 1;
}
.specials--next .specials__item--up,
.specials--next .specials__item--down {
	animation: specials__next .3s;
	animation-fill-mode: forwards;
}
.specials--prev .specials__item--up,
.specials--prev .specials__item--down {
	animation: specials__prev .3s;
	animation-fill-mode: forwards;
}
@keyframes specials__next {
	0% {
		opacity: 0;
		transform: translate3d(-100px,0,0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}
@keyframes specials__prev {
	0% {
		opacity: 0;
		transform: translate3d(100px,0,0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}
.specials--next .specials__item--active-up,
.specials--next .specials__item--active-down {
	z-index: 3;
	animation: specials__active-next .3s;
}
.specials--prev .specials__item--active-up,
.specials--prev .specials__item--active-down {
	z-index: 3;
	animation: specials__active-prev .3s;
}
@keyframes specials__active-next {
	0% {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
	100% {
		opacity: .1;
		transform: translate3d(100px,0,0);
	}
}
@keyframes specials__active-prev {
	0% {
		opacity: 1;
		transform: translate3d(0,0,0);
	}
	100% {
		opacity: .1;
		transform: translate3d(-100px,0,0);
	}
}

/* contact
-----------------------------------------------------------------------------*/
.contact h1{
	color: #2a3246;
	padding:70px 0 28px;
}
.contact__tel-24 {
	border-top: 1px solid #e5e7e9;
	border-bottom: 1px solid #e5e7e9;
	padding: 8px 0;
	height: 78px;
	margin-bottom: 28px;
	text-align: center;
	font: 16px/68px 'ProximaNova-Light';
}
.contact__tel-24-7 {
	width: 60px;
	height: 60px;
	vertical-align: top;
	margin-right: 10px;
	border: solid 1px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	font: 18px/60px 'ProximaNova-Light';
}
.contact__tel-24 a {
	font: 28px/60px 'ProximaNova-Semibold';
	color: #2a3246;
	margin-left: 8px;
	letter-spacing: .2px;
	vertical-align: top;
	display: inline-block;
}
.contact__mails {
	padding: 12px 0 40px;
}
.contact__mails ~ .map-address {
	padding-top: 40px;
}
.contact__mails li{
	float: left;
	width: 290px;
	height: 100px;
	color: #96a0aa;
	padding: 28px 30px 0;
	text-align: center;
	border-radius: 6px;
	background: rgba(216,220,231,.1);
	font: 16px/20px 'ProximaNova-Light';
	border: solid 1px rgba(150,160,170,.1);
}
.contact__mails li:first-child{
	margin-right: 35px;
}
.contact__mails li:last-child{
	float: right;
}
.contact__mails a{
	font-family: 'ProximaNova-Semibold';
	text-decoration: underline;
}

.callback-form {
	padding-bottom: 40px;
}
.callback-form--contact {
	margin-bottom: 12px;
	background: #fbfbfc;
}
.callback-form .h1{
	padding: 30px 0 44px;
	color: #2a3246;
}
.callback-form .input,
.callback-form .select{
	margin-bottom: 20px;
}
.callback-form .select{
	width: 100%;
	background: #fff;
}
.callback-form .select__box {
	width: 100%;
}
.callback-form .select__value {
	padding: 12px 32px 13px 20px
}
.callback-form .select__value:before {
	top: 22px;
}
.callback-form--contact .input:not(:focus){
	background: #fff;
}
.callback-form .btn{
	margin-top: 10px;
	padding: 0;
	height: 52px;
	width: 160px;
	font: 16px/52px "ProximaNova-Bold"
}
.callback-form__answer {
	font-size: 16px;
	margin-top: 12px;
	position: relative;
	padding: 0 0 0 38px;
	line-height: 22px;
}

.map-address__address-result {
	padding: 10px 0;
}
.map-address__address-result li{
	font-size: 16px;
	line-height: 22px;
	padding: 5px 0;
}
.map-address__address-result a{
	text-decoration: underline;
}

/* rent
-----------------------------------------------------------------------------*/
.rent-header {
	padding: 0 !important;
}
.rent-header p{
	padding: 60px 0 24px;
	font: 36px/44px "ProximaNova-Light";
}
.rent-header li{
	font: 20px/26px "ProximaNova-Light";
	float: left;
	width: 312px;
	height: 200px;
}
.rent-header li:nth-child(1){
	left: 0;
}
.rent-header li:nth-child(3){
	left: 0;
}
.rent-header li:before{
	display: block;
	width: 86px;
	height: 86px;
	margin: 14px auto;
	content: '';
	border-radius: 50%;
	background: url(../images/sprite.svg) -173px -694px #fff;
}
.rent-header li:nth-child(2):before{
	background-position: -287px -695px
}
.rent-header li:nth-child(3):before{
	background-position: -401px -694px
}
.callback-form--rent {
	padding: 48px 0;
}
.callback-form--rent .btn {
	margin-top: 22px;
}
.ajax-load li{
	width: 94px;
	height: 94px;
	float: left;
	margin: 0 20px 20px 0;
}
.ajax-load img,
.ajax-load__load-add,
.ajax-load__circle {
	position: relative;
	display: block;
	width: 94px;
	height: 94px;
	border-radius: 6px;
}
.ajax-load__remove-img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 6px;
	background: rgba(41, 50, 70, 0.8);
	opacity: 0;
}
.ajax-load .ico{
	right: 0;
	bottom: 0;
	margin: auto;
}
.ajax-load li:hover .ajax-load__remove-img{
	opacity: 1
}
.ajax-load__load-add {
	text-align: center;
	padding-top: 45px;
	border: solid 1px #e5e7e9;
	font-size: 13px;
	line-height: 16px;
	color: #96a0aa;
}
.ajax-load__load-add:hover {
	color: #2a3246;
	border-color: rgba(150,160,170,.8)
}
.ajax-load__load-add .ico{
	bottom: 40px;
}
.ajax-load__circle {
	border: solid 1px #e5e7e9;
}
.ajax-load__circle i {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../images/ajax-circle.svg) center no-repeat;
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-name: spin;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@-webkit-keyframes spin {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}
@keyframes spin {
	from {
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}

.rent-we {
	padding: 70px 0;
}
.rent-we .h1{
	color: #2a3246;
}
.rent-we ul{
	font-size: 1px;
	text-align: center;
}
.rent-we li{
	display: inline-block;
	width: 240px;
	font: 20px/24px "ProximaNova-Light";
}
.rent-we li:before{
	width: 98px;
	height: 98px;
	margin: 48px auto 14px;
	content: '';
	display: block;
	border-radius: 50%;
	border: solid 1px #2a3246;
	background: url(../images/sprite.svg) -530px -687px;
}
.rent-we li:nth-child(2):before{
	background-position: -642px -687px
}
.rent-we li:nth-child(3):before{
	background-position: -760px -687px
}

/* 404
-----------------------------------------------------------------------------*/
.header--404 {
	height: 0;
	z-index: 1;
}
.page-404 {
	height: auto;
	text-align: center;
	color: #fff;
	background-position: bottom;
}
.page-404__box {
	height: 540px;
}
.page-404__box .center{
	height: 280px;
	position: absolute;
	top: 180px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.page-404 h1 {
	color: transparent;
	width: 240px;
	height: 100px;
	margin: 30px auto 0;
	background: url(../images/sprite.svg) -630px -508px;
}
.page-404 p {
	padding: 25px 0;
	font: 20px/24px 'ProximaNova-Light';
}
.page-404 .btn {
	width: 220px;
	height: 56px;
	margin: 10px auto;
	font: 15px/56px 'ProximaNova-Regular';
}

/* slider-abscissa
-----------------------------------------------------------------------------*/
.slider-abscissa,
.slider-abscissa__box {
	overflow: hidden;
	position: relative;
}
.slider-abscissa.notsel {
	overflow: inherit;
}
.slider-abscissa--personal,
.slider-abscissa--personal .slider-abscissa__box {
	height: 272px;
}
.slider-abscissa ul {
	position: relative;
	left: 0;
	width: 99999px;
	transition: left 1s;
}
.slider-abscissa .ico--left-gray {
	top: 90px;
	left: -60px;
}
.slider-abscissa .ico--right-gray {
	top: 90px;
	left: auto;
	right: -60px;
}

/* footer
-----------------------------------------------------------------------------*/
.footer {
	padding: 45px 0 56px;
}
.footer__logo{
	margin: 19px 0;
}
.copyright {
	padding: 20px 0;
}
.footer-social{
	margin: 3px 0 21px 19px;
}
.footer__developer{
	font-size: 13px;
	color: #abadb0;
	margin: 30px 18px;
}
.footer__developer a{
	font: 15px/20px'ProximaNova-Black';
	letter-spacing: .2px;
	color: #96a0aa;
	padding-left: 4px;
	text-transform: uppercase;
}

.breadcrumbs {
	padding: 18px 0;
}
.breadcrumbs li {
	float: left;
	color: #96a0aa;
}
.breadcrumbs a {
	color: #96a0aa;
}
.breadcrumbs a:hover {
	color: #2a3246;
}
.breadcrumbs li:before {
	content: '/';
	padding: 0 7px;
}
.breadcrumbs li:first-child:before {
	display: none;
}


/* alert
-----------------------------------------------------------------------------*/
.ahtung {
	height: 0;
	overflow: hidden;
	transition: .5s;
	background: #f8f8fb;
}
.ahtung--show {
	height: 46px;
}
.ahtung__box {
	padding: 6px 58px 6px 50px;
}
.ahtung:before {
	width: 1px;
	height: 24px;
	background: rgba(150,160,170,.4);
	position: absolute;
	top: 11px;
	content: '';
	right: 43px;
}
.ahtung .ico {
	top: 10px;
	left: 17px;
}
.ahtung .ico.ahtung__close {
	left: auto;
	right: 10px;
}
.ahtung p{
	line-height: 32px;
}
.ahtung .btn{
	height: 32px;
	line-height: 32px;
	padding: 0 24px;
	vertical-align: middle;
	margin: 0 10px;
	font-size: 14px;
}
.ahtung__link{
	color: #2a3246;
	display: inline-block;
	height: 16px;
	font: 14px/20px 'ProximaNova-Semibold';
	border-bottom: 1px solid;
}
.ahtung__link:hover{
	border-bottom-color: transparent;
}

/* alert help
----------------------------------------*/
.alert_up__window--help {
	width: 700px;
}
.alert_up__window--help .ico--close {
	top: 62px;
}
.alert-help {
	height: 270px;
}
.alert-help li{
	width: 233px;
	float: left;
	height: 200px;
	text-align: center;
	padding: 11px;
	margin-top: 40px;
	font-size: 16px;
	line-height: 26px;
	border-right: 1px solid #e8e8e8;
}
.alert-help li a{
	display: block;
	color: rgba(42,50,70,.8);
}
.alert-help li:last-child{
	border: 0
}
.alert-help li a:before {
	content: '';
	width: 76px;
	height: 76px;
	border-radius: 50%;
	border: solid 2px #96a0aa;
	display: block;
	margin: 14px auto;
	background: url(../images/sprite.svg) -30px -1346px
}
.alert-help li:nth-child(2) a:before {
	background-position: -130px -1346px
}
.alert-help li:nth-child(3) a:before {
	background-position: -230px -1346px
}
.alert-help__tel {
	font: 24px/32px 'ProximaNova-Semibold';
	color: #2a3246;
	display: inline-block;
}
.alert-help__mail {
	display: inline-block;
	width: 185px;
	height: 32px;
	color: #ff0142;
	border-radius: 16px;
	background: rgba(216,220,231,.1);
	border: solid 1px rgba(150,160,170,.1);
	font: 16px/32px 'ProximaNova-Semibold';
}
.alert-help__btn {
	width: 90px;
	height: 32px;
	font: 13px/32px 'ProximaNova-Regular';
}

/* alert test
----------------------------------------*/
.alert-jobs__nav {
	margin: 39px;
	position: relative;
	background: #dfe2e5;
}
.alert-jobs__nav ul{
	position: relative;
	height: 1px;
}
.alert-jobs__nav-progress {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: #ffee2f;
}
.alert-jobs__nav-disk {
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #dfe2e5;
	position: relative;
	top: -15px;
}
.alert-jobs__nav-disk:nth-child(1),
.alert-jobs__nav-disk:nth-child(2) {
	margin-right: 113px;
}
.alert-jobs__nav-disk:last-child {
	float: right;
}
.alert-jobs__nav-disk--active {
	border:9px solid #ffee2f;
	background: #2a3246;
}
.alert-jobs h3{
	text-align: left;
	padding: 20px 0;
	color: #2a3246;
}
.alert-jobs__box {
	padding: 18px 40px 40px;
	border-top: 1px solid #e5e7e9;
}
.alert-jobs__input-box {
	display: block;
	margin-bottom: 20px;
}
.alert-jobs__label {
	width: 150px;
	line-height: 16px;
	color: #96a0aa;
	float: left;
	padding-top: 16px;
}
.alert-jobs sup {
	color: #ff0142;
	font-size: 14px;
	vertical-align: baseline;
}
.alert-jobs__label--pt2 {
	padding-top: 2px;
}
.alert-jobs__label--double-line {
	padding-top: 6px;
}
.alert-jobs__input {
	width: 300px;
	float: right;
	position: relative;
}
.alert-jobs__requred-text {
	padding-top: 22px;
	width: 243px;
	position: relative;
}
.alert-jobs__btn {
	width: 160px;
	height: 52px;
	line-height: 52px;
	margin-top: 6px;
}
.alert-jobs__add {
	position: relative;
	padding-bottom: 14px;
}
.alert-jobs__add-btn {
	position: absolute;
	right: 0;
	top: -42px;
	color: #2a3246;
	text-decoration: underline;
}
.alert-jobs__input-pref {
	float: left;
	width: 30px;
	color: #96a0aa;
	line-height: 16px;
	padding-top: 16px;
}
.alert-jobs__input-month-year .input {
	width: 105px;
}
.alert-jobs__step.step-4 .alert-jobs__requred-text{
	margin-top: 14px;
}
.alert-jobs__step.step-4 .alert-jobs__btn{
	margin-top: 20px;
}
.alert-jobs__captcha-img,
.alert-jobs__captcha-img-box {
	width: 114px;
	height: 46px;
}
.alert-jobs__captcha-input  {
	width: 165px;
}

/* alert lk
----------------------------------------*/
.alert-lk {
	width: 460px;
	border-radius: 6px;
	background: #fff
}
.alert-lk .ico--close {
	background-position: -377px -1361px;
	height: 40px;
	width: 40px;
}
.alert-lk__form{
	padding: 25px 80px;
}
.alert-lk .select {
	width: 100%;
	margin-bottom: 20px;
}
.alert-lk .select__box {
	width: 100%;
}
.alert-lk .input {
	margin-bottom: 20px;
}
.alert-lk__inputbox .input{
	margin-bottom: 0;
}
.alert-lk__inputbox {
	display: block;
	position: relative;
	margin-bottom: 20px;
}
.alert-lk .btn{
	height: 52px;
	line-height: 52px;
	font-size: 16px;
	margin-bottom: 15px;
}
.alert-lk h3 {
	padding: 22px 0;
	color: #2a3246;
	font-family: 'ProximaNova-Regular';
}
.alert-lk__foot {
	padding: 29px 0 31px;
	text-align: center;
	border-top: 1px solid #e5e7e9;
	line-height: 28px;
	vertical-align: middle;
	background: #f8f8fb;
	border-radius: 0 0 6px 6px;
}
.alert-lk__foot a{
	text-decoration: underline;
	color: #2a3246;
}
.alert-lk__foot-sep{
	margin: 0 16px;
	display: inline-block;
	width: 1px;
	vertical-align: top;
	height: 28px;
	background: rgba(171,173,176,.3);
}
.alert-lk .alert-lk__repeat-kod {
	text-align: center;
	line-height: 17px;
	padding: 14px 0 0;
	color: #2a3246;
}
.alert_up__loading {
	display: block;
	height: 44px;
	margin: 2px auto;
	width: 44px;
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-name: spin;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.alert-lk .alert-lk__request {
	text-align: center;
	line-height: 17px;
	padding: 28px 0 23px;
}
.alert-lk .alert-lk__request-result {
	text-align: center;
	line-height: 17px;
	padding: 0 0 6px;
	color: #ff0142;
}
.alert-lk__request-result .ico--triangle {
	display: block;
	position: static;
	margin: 8px auto 28px;
}