/* header
-----------------------------------------------------------------------------*/
.header {
}
.header__logo {
	position: relative;
}
.header__logo:before {
}
.header__logo b{
}

.header__menu li {
	float: left;
	margin: 16px 0 0 15px;
}
.header__menu a {
	font-size: 14px;
	line-height: 24px;
}
.header__menu a:hover {
	color: #2a82d3;
}


/* home_after-header
-----------------------------------------------------------------------------*/


/* after-header-img
-----------------------------------------------------------------------------*/
.img-cover{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.img-cover--blur {
	-webkit-filter: blur(8px);
	filter: blur(8px);
	transform: scale(1.1);
}
.img-cover img{
	opacity: 0;
}

/* wooks
-----------------------------------------------------------------------------*/

/* account
-----------------------------------------------------------------------------*/


/* footer
-----------------------------------------------------------------------------*/
.footer {
	padding: 34px 0;
}
.copyright {
	font: 14px/34px 'Roboto', sans-serif;
	padding-left: 12px;
}
.footer__menu li {
	float: left;
	opacity: .6;
	padding-left: 38px;
}
.footer__menu li:before {
	position: absolute;
	width: 3px;
	height: 3px;
	top: 16px;
	left: 18px;
	border-radius: 50%;
	content: '';
	background: #3b3d4d;
}
.footer__menu a {
	font: 14px/34px 'Roboto', sans-serif;
}
.footer__menu a:hover {
	color: #2a82d3;
}
.footer-social{
	padding:1px;
}
.footer-social li {
	float: left;
	padding-right: 5px;
}
.footer-social__btn {
	display: block;
	width: 32px;
	height: 32px;
	background: url(../images/sprite.svg);
}
.footer-social__btn--facebook {
	background-position: -28px -339px
}
.footer-social__btn--twitter {
	background-position: -101px -339px
}
.footer-social__btn--instagram {
	background-position: -174px -339px
}
.footer-social__btn--vimeo {
	background-position: -138px -339px
}
.footer-social__btn--vk {
	background-position: -64px -339px
}
.footer-social__btn--facebook:hover {
	background-position: -28px -389px
}
.footer-social__btn--twitter:hover {
	background-position: -101px -389px
}
.footer-social__btn--instagram:hover {
	background-position: -174px -389px
}
.footer-social__btn--vimeo:hover {
	background-position: -138px -389px
}
.footer-social__btn--vk:hover {
	background-position: -64px -389px
}




/* alert
-----------------------------------------------------------------------------*/

/* alert test
----------------------------------------*/
